.DS_Store
.AppleDouble
.LSOverride
._*

$RECYCLE.BIN/
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk

.idea/
.idea_modules/
*.iml
*.iws
out/

.gradle/
gradle/
**/build/
!src/**/build/
gradle-app.setting
.gradletasknamecache
gradlew*

*.class
*.log
*.war
*.nar
*.ear